#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>

/ {
    combos {
        compatible = "zmk,combos";

        bt_sel_3 {
            bindings = <&bt3>;
            key-positions = <42 30>;
            layers = <2>;
        };

        bt_sel_4 {
            bindings = <&bt4>;
            key-positions = <30 18>;
            layers = <2>;
        };

        grave {
            bindings = <&kp GRAVE>;
            key-positions = <13 25>;
        };
    };

    macros {
        bt_clr_0: bt_clr_0 {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&bt BT_SEL 0 &bt BT_CLR>;
            label = "BT_CLR_0";
        };

        bt_clr_1: bt_clr_1 {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&bt BT_SEL 1 &bt BT_CLR>;
            label = "BT_CLR_1";
        };

        bt_clr_2: bt_clr_2 {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&bt BT_SEL 2 &bt BT_CLR>;
            label = "BT_CLR_2";
        };

        bt_clr_3: bt_clr_3 {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&bt BT_SEL 3 &bt BT_CLR>;
            label = "BT_CLR_3";
        };

        bt_clr_4: bt_clr_4 {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&bt BT_SEL 4 &bt BT_CLR>;
            label = "BT_CLR_4";
        };
    };

    behaviors {
        bt0: bt0 {
            compatible = "zmk,behavior-mod-morph";
            label = "BT0";
            bindings = <&bt BT_SEL 0>, <&bt_clr_0>;

            #binding-cells = <0>;
            mods = <(MOD_LSFT|MOD_RSFT)>;
        };

        bt1: bt1 {
            compatible = "zmk,behavior-mod-morph";
            label = "BT1";
            bindings = <&bt BT_SEL 1>, <&bt_clr_1>;

            #binding-cells = <0>;
            mods = <(MOD_LSFT|MOD_RSFT)>;
        };

        bt2: bt2 {
            compatible = "zmk,behavior-mod-morph";
            label = "BT2";
            bindings = <&bt BT_SEL 2>, <&bt_clr_2>;

            #binding-cells = <0>;
            mods = <(MOD_LSFT|MOD_RSFT)>;
        };

        bt3: bt3 {
            compatible = "zmk,behavior-mod-morph";
            label = "BT3";
            bindings = <&bt BT_SEL 3>, <&bt_clr_3>;

            #binding-cells = <0>;
            mods = <(MOD_LSFT|MOD_RSFT)>;
        };

        bt4: bt4 {
            compatible = "zmk,behavior-mod-morph";
            label = "BT4";
            bindings = <&bt BT_SEL 4>, <&bt_clr_4>;

            #binding-cells = <0>;
            mods = <(MOD_LSFT|MOD_RSFT)>;
        };

        home_row_left: home_row_left {
            compatible = "zmk,behavior-hold-tap";
            label = "HOME_ROW_LEFT";
            bindings = <&kp>, <&kp>;

            #binding-cells = <2>;
            tapping-term-ms = <200>;
            flavor = "balanced";
            quick-tap-ms = <175>;
            hold-trigger-key-positions = <6 7 8 9 10 11 18 19 20 21 22 23 30 31 32 33 34 35 42 43 44 45 46 47 53 54 55 56 57>;
            hold-trigger-on-release;
        };

        home_row_right: home_row_right {
            compatible = "zmk,behavior-hold-tap";
            label = "HOME_ROW_RIGHT";
            bindings = <&kp>, <&kp>;

            #binding-cells = <2>;
            tapping-term-ms = <200>;
            flavor = "balanced";
            quick-tap-ms = <150>;
            hold-trigger-on-release;
            hold-trigger-key-positions = <0 1 2 3 4 5 12 13 14 15 16 17 24 25 26 27 28 29 36 37 38 39 40 41 48 49 50 51 52>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        base {
            bindings = <
&none  &kp N1                     &kp N2                     &kp N3                         &kp N4                       &kp N5    &kp N6  &kp N7                         &kp N8                   &kp N9                      &kp N0                       &kp BACKSPACE
&none  &kp Q                      &kp W                      &kp F                          &kp P                        &kp G     &kp J   &kp L                          &kp U                    &kp Y                       &kp SEMI                     &kp BACKSLASH
&none  &home_row_left LEFT_GUI A  &home_row_left LEFT_ALT R  &home_row_left LEFT_CONTROL S  &home_row_left LEFT_SHIFT T  &kp D     &kp H   &home_row_right RIGHT_SHIFT N  &home_row_right RCTRL E  &home_row_right LEFT_ALT I  &home_row_right RIGHT_GUI O  &kp SINGLE_QUOTE
&none  &kp Z                      &kp X                      &kp C                          &kp V                        &kp B     &kp K   &kp M                          &kp COMMA                &kp DOT                     &kp FSLH                     &kp RBKT
       &kp ESC                    &mt LEFT_ALT DELETE        &mt LEFT_CONTROL TAB           &kp ENTER                    &mo 1     &mo 2   &kp SPACE                      &kp LEFT_BRACKET         &kp MINUS                   &kp EQUAL
            >;
        };

        nav {
            bindings = <
&trans  &trans  &trans  &trans  &trans  &trans    &trans    &trans     &trans     &trans     &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans    &kp HOME  &kp PG_DN  &kp PG_UP  &kp END    &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans    &kp LEFT  &kp DOWN   &kp UP     &kp RIGHT  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans    &trans    &trans     &trans     &trans     &trans  &trans
        &trans  &trans  &trans  &trans  &trans    &trans    &trans     &trans     &trans     &trans
            >;
        };

        fn {
            bindings = <
&trans  &kp F1         &kp F2  &kp F3  &kp F4  &kp F5            &kp F6    &kp F7     &kp F8     &kp F9        &kp F10       &kp F11
&trans  &trans         &trans  &trans  &trans  &soft_off         &kp HOME  &kp PG_DN  &kp PG_UP  &kp END       &none         &kp F12
&trans  &kp BACKSPACE  &trans  &trans  &trans  &trans            &kp LEFT  &kp DOWN   &kp UP     &kp RIGHT     &trans        &trans
&trans  &trans         &trans  &trans  &trans  &studio_unlock    &bt0      &trans     &trans     &trans        &trans        &trans
        &trans         &trans  &trans  &trans  &trans            &trans    &trans     &trans     &kp C_VOL_DN  &kp C_VOL_UP
            >;
        };
    };
};
